body {
  color: rgb(227, 225, 225);
  background: rgb(33, 32, 32);
  margin-inline: auto;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-shadow: 0px 0px 8px rgb(34, 116, 47);
}

h4 {
  text-align: center;
  word-spacing: 2px;
  color: rgb(33, 32, 32);
}

div:not(.container) {
  color: rgb(33, 32, 32);
}

.hidden {
  display: none;
}

.container {
  width: 100%;
}

.league,
.season {
  display: inline-block;
}

.league {
  margin-left: 5px;
  padding: 0;
  border: none;
}

.season {
  margin-left: 10vw;
  padding: 0;
}

#league,
#season,
button {
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  background: rgb(227, 225, 225);
  color: rgb(33, 32, 32);
}

button {
  cursor: pointer;
  background: rgb(34, 116, 47);
  color: rgb(227, 225, 225);
}

button:disabled,
button[disabled] {
  cursor: default;
  background: silver;
}

.leagueArrowhead,
.seasonArrowhead {
  font-size: 12px;
}

.leagueArrowhead {
  margin-left: 230px;
}

.seasonArrowhead {
  margin-left: 24px;
}

#league {
  width: var(--leagueWidth);
}

#season {
  width: var(--seasonWidth);
}

.leagueOnClick {
  display: none;
}

.seasonOnClick {
  display: none;
}

.leagueOnClick,
.seasonOnClick {
  height: 50vh;
  display: block;
  position: absolute;
  overflow: auto;
}

.seasonOnClick {
  text-align: center;
}

#league::-webkit-scrollbar,
#season::-webkit-scrollbar {
  width: 12px;
}

#league::-webkit-scrollbar-thumb,
#season::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgb(70, 69, 69);
}

#league::-webkit-scrollbar-track,
#season::-webkit-scrollbar-track {
  border-radius: 8px;
  background: rgb(227, 225, 225);
  border: 1px solid #cacaca;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgb(227, 225, 225);
}

::-webkit-scrollbar-track {
  background: rgb(33, 32, 32);
  border: 1px solid #cacaca;
}

a {
  display: block;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  color: rgb(33, 32, 32);
  background: rgb(227, 225, 225);
}

a:hover {
  background: rgb(210, 207, 207);
}

#league a img {
  width: 26px;
  height: 26px;
}

#league a sup {
  padding-left: 4px;
  padding-right: 8px;
}

#standings {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
}

#rank {
  width: 20px;
  text-align: center;
}

#status {
  width: 15px;
  text-align: center;
}

#logo {
  width: 25px;
}

img {
  width: 25px;
  height: 25px;
}

#name {
  width: 350px;
  text-align: left;
}

.info {
  width: 75px;
  height: 50px;
}

.info2 {
  width: max-content;
  white-space: nowrap;
  word-spacing: 4px;
}

#right {
  text-align: right;
}

#colon {
  width: 5px;
  text-align: center;
}

#left {
  text-align: left;
}

.up {
  color: green;
}

.same {
  font-size: 7px;
}

.down {
  color: red;
  letter-spacing: 5px;
}

.win {
  font-size: 12px;
  color: green;
  letter-spacing: 7px;
}

.draw {
  font-size: 25px;
  color: grey;
  letter-spacing: 7px;
}

.loss {
  font-size: 12px;
  color: red;
  letter-spacing: 7px;
}

.promotion {
  background: black;
}

#limit {
  color: rgb(206, 42, 42);
  font-size: 1.2rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72vh;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: none;
  border-radius: 9999px;
  background: yellow;
}

@media (max-width: 680px) {
  html {
    font-size: 12px;
  }

  .info2 {
    display: none;
  }

  #name {
    width: 175px;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 575px) {
  .league,
  .season {
    display: block;
    width: fit-content;
  }

  .season {
    margin-left: 5px;
    margin-top: 10px;
  }
}

@media (max-width: 435px) {
  html {
    font-size: 10px;
  }

  h1 {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
  }

  #league a img {
    width: 20px;
    height: 20px;
  }

  .promotion {
    font-size: 0.85rem;
  }

  img {
    width: 15px;
    height: 15px;
  }

  #name {
    font-size: 0.8rem;
  }

  .same {
    font-size: 5px;
  }

  .info {
    height: 30px;
  }
}